
 /************/
 /*FIRST NAVBAR*/
/************/

.first-navbar {
  font-size: 0.9rem;
}

.nav-link{
color: aliceblue;
}

.first-navbar-button {
  width: 8.6rem;
  height: 2.5rem;
  font-size: 0.91rem;
  border: none;
  border-radius: 0rem;
  background-color: #ffcc00;
}
.first-navbar a:hover {
  color: #dfd0c5;
  transition: all ease 2s;
}

.first-navbar-button:hover{
  background-color: #f0db86;
}

@media only screen and (min-width: 1060px) {
  .first-navbar-block{
    display: none;
   
  } 

}
@media only screen and (max-width: 1090px) {
  .first-navbar-second-block{
    display: none;
  }
 
  
}
.first-navbar-style{
  font-size: 0.9rem;
  text-decoration: none;
  padding-left: 0.7rem;
}

@media only screen and (max-width: 990px) {
  .offcanvas-main{
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.5rem;
  }

  .toggle-1{
    border: none;
    box-shadow: none !important;
  }
  .first-navbar-color{
    color: #000000;
    font-size: 1.4rem;
  }
}
  /************/
 /*SECOND NAVBAR*/
/************/
.second-navbar{
    background-color: rgb(0, 0, 0);
  }
.second-navbar-nav {
  font-size: 0.82rem;
}

.second-navbar-nav a:hover {
  color: #dfd0c5;
  transition: all ease 2s;
}


  /*************************/
 /*HEADER BACKGROUND IMAGE*/
/*************************/

.bg-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("https://thumb.tildacdn.com/tild3338-3763-4666-a530-616261393533/-/format/webp/__12.jpg" );
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}

  /*************************/
 /*FOOTER BACKGROUND IMAGE*/
/*************************/
.bg-img2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url("https://thumb.tildacdn.com/tild3338-3763-4666-a530-616261393533/-/format/webp/__12.jpg");
  height: 180px;
  background-position: center bottom;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.footer-image{
  max-width: 40vh;
  width: 100%;
  height: auto;
  margin-top: -2.4rem;

}
@media only screen and (max-width: 800px) {
  .bg-img2 {
    height: 300px;
  }
}
.value{
  width: 100%;
  background-color: #000000;
}
/*  ____FOR INPUT FIELD___ */
.search-icon {
  width: 15px;
}
/* ____MAIN BUTTON___ */
.center-button {
  background-color: black;
  width: 8.7rem;
  height: 3rem;
  font-size: 0.86rem;
}
.center-button:hover {
  background-color: rgb(71, 71, 71);
}
input:focus, input.form-control:focus {
  box-shadow: none  !important;
}
input:focus,
select:focus,
textarea:focus {
  box-shadow: none  !important;
}
.heading-portrait{
  font-size: 1.2rem;
  font-family: "FuturaPT,Arial,sans-serif";
     

}

.text-portrait{
  font-size: 0.86rem;
  font-family: "FuturaPT,Arial,sans-serif";  
           
}


.nothing{
  text-decoration: none;
}
/*  _____CARD_____  */
.danger-container{
  display: flex;
  flex-wrap: wrap;
 justify-content: center;
  
}
.danger-card{
  margin: 0px 20px ;
  width: 16em;
  margin-top: 40px;
}
.danger-image{
  height: 50vh;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  
}

.overlay:hover  {
  opacity: 0.6;
  transition: 0.6s ease;
  background-color: #000000;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}