  /* _______FOR NAVBAR ________*/

.navbar-main3  .changing-navbar{
  transition: all ease 0.5s;
  font-size: 0.9em;
  color: aliceblue;
  padding-bottom: 1px;
  background-image: linear-gradient(#fbd0af 0 0);
  background-position: right -102% bottom 0;
  background-size: 230% 1px;
  background-repeat: no-repeat;
}
.navbar-main3  .changing-navbar:hover{
  max-height: 180px;
  font-size: 0.9rem;
  font-family: "FuturaPT", "Arial", "sansSerif";
}
.navbar-nav a:hover {
  color: #fbd0af;
  background-position: left -102% bottom 0;
  transition: 1s;
}
.navbar-nav .nav-link.active {
  text-decoration: underline;
}
.navbar2 {
  background-color: black;
}
/* MAIN NAVBAR  */
.navbar-main2 .changing-color{

  font-size: 0.9em;
  color: aliceblue;
 
 
}
.navbar-main2 .changing-color:hover{
  
  font-family: "FuturaPT", "Arial", "sansSerif";
}
@media only screen and (max-width: 990px) {
  .offcanvas-main{
   
   background-color: rgb(255, 255, 255);
  text-align: center;
   font-size: 1.5rem;
  }
 .navbar-toggler {
    
  }
  .toggle-1{
    border: none;
    box-shadow: none !important;

  }
  .toggle-1:hover{
    box-shadow: none !important;

  }
  .navbar-main2 .changing-color{
    color: black;
    padding-top: 15px;
  }
  .cross{
    font-size: 1.3rem;
    box-shadow: none !important;
  }
  

}

@media only screen and (min-width: 1060px) {
  .large-block{
    display: none;
   
  }

 
}
@media only screen and (max-width: 1090px) {
  .small-block{
    display: none;
  }
  
}
.style-nav{
  font-size: 12px;
  text-decoration: none;
  padding-left: 0.7rem;
}
.style{
  font-size: 14px;

}

.navbar-button {
  background-color: #ffcc00;
  border: none;
  border-radius: 0rem;
  width: 8.6rem;
  height: 2.5rem;
  font-size: 0.91em;
  font-weight: bold;

}
.navbar-button:hover{
  background-color: #f0db86;
}
/* _________ BACKGROUND IMAGE _______*/
.bg-img {
  /* The image used */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("https://thumb.tildacdn.com/tild3338-3763-4666-a530-616261393533/-/format/webp/__12.jpg" );
  height: 50vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Needed to position the navbar */
  position: relative;
  
}



.bg-img2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url("https://thumb.tildacdn.com/tild3338-3763-4666-a530-616261393533/-/format/webp/__12.jpg");
  min-height: 165px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/*  ____FOR INPUT FIELD___ */
.search-icon {
  width: 15px;
}
/* ____MAIN BUTTON___ */
.center-button {
  background-color: black;
  width: 8.7rem;
  height: 3rem;
  font-size: 0.86rem;
}
.center-button:hover {
  background-color: rgb(71, 71, 71);
}
input:focus, input.form-control:focus {
  box-shadow: none  !important;
}
input:focus,
select:focus,
textarea:focus {
  box-shadow: none  !important;
}
.heading-portrait{
  font-size: 1.2rem;
  font-family: "FuturaPT,Arial,sans-serif";
     

}

.text-portrait{
  font-size: 0.86rem;
  font-family: "FuturaPT,Arial,sans-serif";  
           
}


.nothing{
  text-decoration: none;
}
/*  _____CARD_____  */
.danger-container{
  display: flex;
  flex-wrap: wrap;
 justify-content: center;
  
}
.danger-card{
  margin: 0px 20px ;
  width: 16em;
  margin-top: 40px;
}
.danger-image{
  height: 50vh;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  
}

.overlay:hover  {
  opacity: 0.6;
  transition: 0.6s ease;
  background-color: #000000;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}