/* ___CARD____ */
.card {
  border: none;
  
}
.text {
  font-weight: 400;
  font-size: 17px;
  font-family: "FuturaPT", Arial, sans-serif;
  line-height: 24px;
}
/* ____SELECT_____ */
a {
  color: black;
}
.input {
  font-family: "FuturaPT", "Arial", "sans-serif";
  font-weight: 300;
  font-size: 12px;
  line-height: 1.55;
  color: rgb(137, 134, 134);
  width: 12rem;
  height: 5vh;
}
.input2 {
  font-family: "FuturaPT", "Arial", "sans-serif";
  font-weight: 300;
  font-size: 12px;
  line-height: 1.55;
  color: rgb(137, 134, 134);
  width: 13rem;
  height: 5vh;
}
.Select-form {
  width: 194px;
}
.select-Text {
  height: 5vh;
  
}
.let {
  font-family: "FuturaPT", "Arial", "sans-serif";
  font-weight: 300;
}
.select {
  font-family: "FuturaPT", Arial, sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.55;
  color: rgb(137, 134, 134);
  border: 0px;
  outline: 0px;
}
/* _____FOOTER_____ */
.paypal {
  width: 2.3rem;
}
.mastercard {
  width: 2.3rem;
  margin-left: 0.5rem;
}
.maestro {
  width: 2.3rem;
  margin-left: 0.5rem;
}
.visa {
  width: 2.3rem;
  margin-left: 0.5rem;
}
/* MY IFNO  */
@media only screen and (max-width: 990px) {
  .checking-info{
display: flex;
  flex-direction: column-reverse;
 

  }
  .checkOut{
margin-left: 40px;
width: 120em;
  }
  .checkOut2{
    text-align: center;
    width: 130em;
    
      }
}
.detail-image{
  height: 80vh;
 
  
}
.detail-input{
  display: flex;

}
.detail-button-color{
  color: black;
}